workflow_test.json
{
  "name": "Live GPT Chain (CCTP Processing)",
  "nodes": [
    {
      "parameters": {},
      "id": "manual_trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-600, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "row_id",
              "value": "R001"
            },
            {
              "name": "cctp_cell",
              "value": "CCTP 3.2.1\\nUne réunion de lancement sera organisée afin de préparer la mise en service du système pour septembre 2025."
            }
          ]
        }
      },
      "id": "set_input",
      "name": "Set Input Row",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [-400, 200]
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "method": "POST",
        "authentication": "headerAuth",
        "requestBodyType": "json",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": {
          "model": "gpt-4o",
          "messages": [
            {
              "role": "system",
              "content": "Tu es un assistant expert en commande publique. Ton objectif est de transformer un extrait de CCTP en mini-guide structuré."
            },
            {
              "role": "user",
              "content": "Voici un extrait du CCTP : {{$json[\"cctp_cell\"]}}"
            }
          ],
          "temperature": 0.3
        }
      },
      "id": "gpt1",
      "name": "GPT1 - Mini Guide",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [-200, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "openai_api",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "method": "POST",
        "authentication": "headerAuth",
        "requestBodyType": "json",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": {
          "model": "gpt-4o",
          "messages": [
            {
              "role": "system",
              "content": "Tu es un assistant IA qui explore une base de données de contenus rédactionnels. Ton objectif est de retrouver les briques existantes qui répondent aux éléments du mini-guide suivant."
            },
            {
              "role": "user",
              "content": "Mini-guide extrait du CCTP : {{$node[\"GPT1 - Mini Guide\"].json[\"message\"][\"content\"]}}"
            }
          ],
          "temperature": 0.3
        }
      },
      "id": "gpt2",
      "name": "GPT2 - Archive Lookup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [0, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "openai_api",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "method": "POST",
        "authentication": "headerAuth",
        "requestBodyType": "json",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": {
          "model": "gpt-4o",
          "messages": [
            {
              "role": "system",
              "content": "Tu es un assistant qui évalue si une réponse couvre bien les exigences du CCTP, selon trois critères : existence, complétude, performance."
            },
            {
              "role": "user",
              "content": "Voici les briques existantes : {{$node[\"GPT2 - Archive Lookup\"].json[\"message\"][\"content\"]}}\n\nVoici l'extrait initial du CCTP : {{$json[\"cctp_cell\"]}}"
            }
          ],
          "temperature": 0.2
        }
      },
      "id": "gpt3",
      "name": "GPT3 - Scoring",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [200, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "openai_api",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "method": "POST",
        "authentication": "headerAuth",
        "requestBodyType": "json",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": {
          "model": "gpt-4o",
          "messages": [
            {
              "role": "system",
              "content": "Tu es un assistant expert qui reformule ou améliore une réponse technique à partir des éléments identifiés."
            },
            {
              "role": "user",
              "content": "Voici les contenus identifiés : {{$node[\"GPT2 - Archive Lookup\"].json[\"message\"][\"content\"]}}\n\nVoici l'analyse de leur adéquation : {{$node[\"GPT3 - Scoring\"].json[\"message\"][\"content\"]}}\n\nTa mission est de reformuler un contenu optimisé ou de poser une question si aucune brique existante n'est satisfaisante."
            }
          ],
          "temperature": 0.25
        }
      },
      "id": "gpt4",
      "name": "GPT4 - Optimised Guide",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [400, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "openai_api",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "fileName": "final_enriched_output.json",
        "options": {}
      },
      "id": "write_output",
      "name": "Write JSON Output",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [600, 200]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Input Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Input Row": {
      "main": [
        [
          {
            "node": "GPT1 - Mini Guide",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT1 - Mini Guide": {
      "main": [
        [
          {
            "node": "GPT2 - Archive Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT2 - Archive Lookup": {
      "main": [
        [
          {
            "node": "GPT3 - Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT3 - Scoring": {
      "main": [
        [
          {
            "node": "GPT4 - Optimised Guide",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT4 - Optimised Guide": {
      "main": [
        [
          {
            "node": "Write JSON Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "workflow_gpt_chain_live"
}
